:root {
    --bg-color: white;
    --fg-color: black;
    --header-bg-color: #ccc;
    --header-fg-color: #000;
    --button-hover: #6497bd;
    --button-bg: #bebebe;
    --button-fg: black;
    --disabled-text: #444;
    --ticket-border: 2px solid #7ac;
    --border-color: #aaa;
    --test: #00a4040
}

:root[data-theme="dark"] {
    --bg-color: #2e2e2e;
    --fg-color: white;
    --header-bg-color: #333;
    --header-fg-color: #fff;
    --button-hover: #007ed0;
    --button-bg: #bebebe;
    --button-fg: white;
    --disabled-text: #ccc;
    --ticket-border: 2px solid #66c3ff;
    --border-color: #666;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#body {
    flex-grow: 1;
}

.button {
    background: var(--button-bg);
    color: var(--button-fg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 0.3em;
    user-select: none;
}

.nav-button:hover, .button:hover {
    background: var(--button-hover);
    cursor: pointer;
}

.hcenter {
    display: flex;
    justify-content: center;
}

.vcenter {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spacer {
    display: inline-block;
    flex-grow: 1;
}

hr {
    width: 50%;
    margin: 0.5em 0;
}

blockquote {
    border-left: 0.35em solid lightgray;
    padding-left: 1em !important;
    box-sizing: border-box;
}

.ql-tooltip.ql-hidden {
    display: none;
}

.ql-container.input {
    margin-top: 0 !important;
}

.disabled {
    color: var(--disabled-text);
}